{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {% for show in shows %}
        
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <img src="{{ show }}" alt="Artist Image" />
                    <h4>
                            {{ show }}
                    </h4>
                    <h5><a href="/artists/{{ show.id }}">{{ show }}</a></h5>
                    <p>playing at</p>
                    <h5><a href="/venues/{{ show }}">{{ show }}</a></h5>
                </div>
            </div>
        
    {% endfor %}
</div>
{% endblock %}