{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {% for artist in data %}
        
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <img src="{{ artist.image_link }}" alt="Artist Image" />
                    <h4>
                            {{ artist.venues[0].name }}
                    </h4>
                    <h5><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></h5>
                    <p>playing at</p>
                    <h5><a href="/venues/{{ artist.venues[0].id }}">{{ artist.venues[0].name }}</a></h5>
                </div>
            </div>
        
    {% endfor %}
</div>
{% endblock %}