{% extends 'layouts/main.html' %}
{% block title %}{{ artists.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-danger delete-btn" data-id={{artists.id}}>Delete Artist</button>

		<a class="btn btn-success delete-btn" data-id={{artists.id}} href="/artists/{{artists.id}}/edit">Edit</a>

		<h1 class="monospace">
			{{ artists.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artists.id }}
		</p>
		<div class="genres">
			{% for genre in artists.genres[1:-1].split(',') %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artists.city }}, {{ artists.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artists.phone %}{{ artists.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artists.website %}<a href="{{ artists.website }}" target="_blank">{{ artists.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artists.facebook_link %}<a href="{{ artists.facebook_link }}" target="_blank">{{ artists.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artists.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artists.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artists.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ upcoming_shows_count }} Upcoming {% if artists.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in shows %}
			{% if show.start_time > now %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.venue.image_link }}" alt="Show Venue Image" />
					<h5><a href="/venues/{{ show.venue.id }}">{{ show.venue.name }}</a></h5>
					<h6>{{ show.start_time }}</h6>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ past_shows_count }} Past {% if artists.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in shows %}
			{% if show.start_time < now %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.venue.image_link }}" alt="Show Venue Image" />
					<h5><a href="/venues/{{ show.venue.id }}">{{ show.venue.name }}</a></h5>
					<h6>{{ show.start_time }}</h6>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>

<script>
	// delete artist
	const btn = document.querySelector('.delete-btn')
	btn.onclick = function(e) {
		const artistId = e.target.dataset['id'];
		fetch('/artists/' + artistId, {
			method: 'DELETE'
		}).then(function(response) {
			// console.log(response);
			document.location.href = '/';
		});
	}
</script>
<!-- delete artist -->

{% endblock %}

