{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-danger delete-btn" data-id={{venues.id}}>Delete Venue</button>

		<a class="btn btn-success delete-btn" data-id={{venues.id}} href="/venues/{{venues.id}}/edit">Edit</a>

		<h1 class="monospace">
			{{ venues.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venues.id }}
		</p>
		<div class="genres">
			{% for genre in venues.genres[1:-1].split(',') %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venues.city }}, {{ venues.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venues.address %}{{ venues.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venues.phone %}{{ venues.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venues.website %}<a href="{{ venues.website }}" target="_blank">{{ venues.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venues.facebook_link %}<a href="{{ venues.facebook_link }}" target="_blank">{{ venues.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venues.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venues.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venues.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ upcoming_shows_count }} Upcoming {% if venues.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in shows %}
			{% if show.start_time > now %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.artist.image_link }}" alt="Show Artist Image" />
					<h5><a href="/artists/{{ show.artist.id }}">{{ show.artist.name }}</a></h5>
					<h6>{{ show.start_time }}</h6>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ past_shows_count }} Past {% if venues.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in shows %}
			{% if show.start_time < now %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.artist.image_link }}" alt="Show Artist Image" />
					<h5><a href="/artists/{{ show.artist.id }}">{{ show.artist.name }}</a></h5>
					<h6>{{ show.start_time }}</h6>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</section>

<!-- delete venue -->
<script>
	const btn = document.querySelector('.delete-btn')
	btn.onclick = function(e) {
		const venueId = e.target.dataset['id'];
		fetch('/venues/' + venueId, {
			method: 'DELETE'
		}).then(function(response) {
			// console.log(response);
			document.location.href = '/';
		});
	}
</script>
<!-- delete venue -->

{% endblock %}

